#main-timer{
    width: 50px;
    display: inline-block;
    font-size: 15px;
    background: #FEF1C4;
    text-align: center;
    border-radius: 3px;
}
#video-output{
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    background: #000000;
}
.remove-track{
    width: 14px;
    height: 14px;
    background: url('../img/cross.png') no-repeat;
    position: absolute;
    right:3px;
    top:3px;
    cursor: pointer;
}
.dragger{
    width: 8px;
    height: 16px;
    position: absolute;
    top: 19px;
    right: -8px;
    border-radius: 0 10px 10px 0;
    background-color: #67707F;
}
#time-pointer{
    background-color: #D9421C;
    width: 3px;
    height: 67px;
    position: absolute;
    left: 8px;
    top:20px;
}
.video-source{
    *display: none;
    width:100px;
    height: 100px;
    display:inline-block;
}
.track-info{
    position: absolute;
    right: 43px;
    top: 16px;
}
#control-panel input{
    color: #fefefe;
}
#control-panel { 
    border: 1px solid #000;
    margin:10px;
    position: relative;
    background: #0b3e6f url(../img/ui-bg_diagonals-thick_15_0b3e6f_40x40.png) 50% 50% repeat;
    border-radius: 5px;
}
#loader{
    display: none;
    position: absolute;
    right: 7px;
    top: 5px;
}
#loader.active{
    display: inline;
}
#track-container{
    position: relative;
    padding: 10px;
    background-color: #61BAB8;
    min-height: 74px;
    border: solid #7F8E95;
    border-width: 3px 0 3px 0;
}
.track-block{
    background: lightblue url(../img/up-down.png) 98.5% no-repeat;
    margin: 5px 0 5px 0;
    position: relative;
}
.track{
    position: relative;
    z-index: 1;
    left: 0;
}
.value-min{
    top: 6px;
    left: 5px;
    position: absolute;
    color: #fefefe;
}
.value-max{
    top: 6px;
    right: 5px;
    position: absolute;
    color: #fefefe;
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    width: 1000px;
    margin: -100px auto 0;
    height: 100px;
    background: #BFF08E;
    position: relative;
}
/*--------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    height: 100%;
}
header, nav, section, article, aside, footer {
    display: block;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
}
#wrapper {
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #186287;
}
/*----------------------------*/